.demo-container {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid grey;
  padding: 2px;
  width: 135px;
  text-align: center;
  color: grey;
  border-radius: 4px;
}
.demo-container h4, .demo-container p {
  margin: 0;
}