.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-logout-container {
  display: flex;
  position: fixed;
  top: 1em;
  right: 1em;
}
.button-logout {
  border: 1px solid black;
  height: 20px;
  margin-left: 1em;
}
.welcome-username {
  margin: 0;
}
.title {
  display: inline-block;
  justify-content: center;
  padding: 5px 10px;
  background: white;
  border-radius: 4px;
}