.home {
    background: white;
    padding: 10px;
    border-radius: 4px;
    width: 250px;
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(125,125,125,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(125,125,125,1);
    box-shadow: 0px 0px 1px 1px rgba(125,125,125,1);
}
.landing-h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    text-align:center;
    margin-bottom: 5px;
}
a {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.readme{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align:center;
}
.readme p {
    margin-top: 0;
}
