.login-form{
  text-align: center;
  width: 170px;
  margin: 0 auto;
}
#username, #password, .login-button {
  width: 100%;
  border-radius: 4px;
}
.login-button{
  margin: 5% 2%;
  border: 1px solid black
}