.quiz-input, .quiz-button-submit {
  border: 1px solid black;
}
.quiz-input{
  margin-top: 10px;
}

.quiz{
  max-width: 600px;
}

.next-button{
  width: 100px;
}

.correct-answer{
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.incorrect-answer{
  color: red;
  font-weight: bold;
  font-size: 20px;
}