.registration-form{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  width: 150px;
  margin: 0 auto;
}
#firstName, #username, #password, #passwordConfirm,.registration-button { 
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 1%;
  margin: 2%; 
}
.registration-button {
  margin: 5% 2%;
}
.registration-button:hover {
  cursor: pointer;
}